.header-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-bottom: 1em;
    margin-top: 1em;
}

.title {
    color: gray;
    margin-bottom: 1em;
}

h1 {
    margin-bottom: 2em;
    font-family: 'Lobster';
    color: white;
    background-color: green;
    padding: 20px;
    border-radius: 5px;
    margin-top: 1em;
    width: 75%;
}

h1:hover {
    cursor: pointer;
    color: lightgreen;
}

article {
    margin-top: 1em;
    border-bottom: 1px solid black;
}

a {
    color: green;
}

.actions {
    margin-bottom: 2em;
}

.post {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}